/* styles.css */
.calendar-container {
    width: 90vw;
    height: 90vh;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendar-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.day-of-week {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.day-of-week div {
    width: calc(100% / 7);
    height: fit-content;
    text-align: center;
}

#calendar-dates {
    padding: 10px;
}

.date {
    display: inline-block;
    width: calc(100% / 7);
    height: 12vh;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    vertical-align: top;
}

.blank {
    background-color: #f9f9f9;
    border: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
