* {
    margin: 0;
    padding: 0;

    --purple-gradient-start: rgb(65, 41, 90);
    --purple-gradient-end: rgb(65, 41, 90);
    --main-bg-color: #151030;
    --dark-bg-color: #212121;

    --size-bezel: .5rem;
    --size-radius: 4px;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.flex {
    display: flex;
}

#login-page {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, var(--purple-gradient-start), var(--purple-gradient-end));
}

#login-modal {
    width: 40vw;
    height: 90vh;
 }

.login-modal-header {
    display: flex;
    align-items: center;
}

.modal-b-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-b-dark {
    background-color: var(--dark-bg-color);
    color: white;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1.5%;
}

.login-modal-header {
    margin: 2.5rem;
    display: flex;
}

.login-modal-content {
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#login-form {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.login-modal-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input__field {
    width: 100%;
    padding: 1rem;
    border-radius: var(--size-radius);
    border: none;
    color: black;
    font-size: medium;
}

input:focus {
    outline: none;
}

.login-modal-subheadline {
    margin-bottom: 3vh;
}

.login-modal-headline {
    margin-top: 3vh;
    margin-bottom: 1vh;
}

#login-modal-remember-me {
    margin-right: 1vw;
    padding: 1rem;
}

.submit-button {
    width: 17.7vw;
    padding: 1rem;
    border-radius: var(--size-radius);
    border: none;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(to right, #8e2de3, #4a00e0);
    color: white;
}

.notifications {
    position: fixed;
    top: 30px;
    right: 20px;
}

.toast {
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
    width: 400px;
    display: grid;
    grid-template-columns: 70px 1fr 70px;
    border-radius: 5px;
    --color: #0abf30;
    background-image: linear-gradient(to right, #0abf3055, #22242f 30%);
    animation: show .3s ease 1 forwards;
}

.toast i {
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.toast .title {
    font-size: x-large;
    font-weight: bold;
}

.toast span, .toast i:nth-child(3) {
    color: #fff;
    opacity: .6;
    cursor: pointer;
}

@keyframes show {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-5%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10%);
    }
}

.toast::before {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color);
    width: 100%;
    height: 3px;
    content: '';
    box-shadow: 0 0 10px var(--color);
    animation: timeOut 5s linear 1 forwards;
}

@keyframes timeOut {
    to {
        width: 0;
    }
}

.toast.error {
    --color: #f24d4c;
    background-image: linear-gradient(to right, #f24d4c55, #22242f 30%);
}

.toast.warning {
    --color: #e9bd0c;
    background-image: linear-gradient(to right, #e9bd0c55, #22242f 30%);
}

.toast.info {
    --color: #3498db;
    background-image: linear-gradient(to right, #3498db55, #22242f 30%);
}

.text-white {
    color: white;
}
