* {
    margin: 0;
    padding: 0;

    --purple-gradient-start: rgb(65, 41, 90);
    --purple-gradient-end: rgb(65, 41, 90);
    --main-bg-color: #151030;
    --dark-bg-color: #212121;

    --size-bezel: .5rem;
    --size-radius: 4px;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.flex {
    display: flex;
}

#login-page {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, var(--purple-gradient-start), var(--purple-gradient-end));
}

#login-modal {
    width: 40vw;
    height: 90vh;
 }

.login-modal-header {
    display: flex;
    align-items: center;
}

.modal-b-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-b-dark {
    background-color: var(--dark-bg-color);
    color: white;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1.5%;
}

.login-modal-header {
    margin: 2.5rem;
    display: flex;
}

.login-modal-content {
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    text-align: center;
}

.login-modal-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input__field {
    width: 100%;
    padding: 1rem;
    border-radius: var(--size-radius);
    border: none;
    color: black;
    font-size: medium;
}

input:focus {
    outline: none;
}

.login-modal-headline {
    margin-bottom: 5vh;
    margin-top: 3vh;
}

#login-modal-remember-me {
    margin-right: 1vw;
    padding: 1rem;
}


